@import url('https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-10..0,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
	--blocks-vertical-spacing: 32px;
	--container-width: 640px;
	--container-padding: 0;

	/* colors */
	--text-primary-color: #252323;
	--text-secondary-color: #4b4b4b;
	--divider-color: #d8d8d8;
	--bg-color: #eef0f2;
	--cta-color: #36f;
	--cta-hover-color: #2b57d9;
	--accent-color: #f8d57e;

	/* fonts */
	--font-family: 'Inter', sans-serif;
	--second-family: 'Mulish', sans-serif;
}
html {
	scroll-behavior: smooth;
}

body {
	background-color: white;
	color: var(--text-primary-color);
	font-family: var(--font-family);
	font-optical-sizing: auto;
	font-style: normal;
	font-variation-settings: 'slnt' 0;
	min-width: 320px;
}

p {
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
	text-align: center;
	color: var(--text-secondary-color);
}

.t14 {
	font-size: 14px;
}

a {
	font-family: var(--second-family);
	color: var(--cta-color);
	font-optical-sizing: auto;
	font-weight: 600;
	font-style: normal;
	text-decoration: none;
}

a:hover {
	color: var(--cta-hover-color);
}

h1,
h4,
p {
	margin: 0;
}

h1 {
	font-family: var(--font-family);
	font-weight: 600;
	font-size: 26px;
	line-height: 1.3;
	text-align: center;
	color: var(--text-primary-color);
}

h4 {
	font-family: var(--font-family);
	font-weight: 600;
	font-size: 18px;
	line-height: 1.3;
	color: var(--text-primary-color);
}

.container {
	width: var(--container-width);
	padding: var(--container-padding);
	display: flex;
	justify-content: center;
	align-items: center;
}

img {
	overflow: hidden;
	width: auto;
	object-fit: cover;
}

section,
footer {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: var(--blocks-vertical-spacing);
}

/* media */
@media (max-width: 680px) {
	:root {
		--container-width: 100%;
		--container-padding: 0 24px;
		--blocks-vertical-spacing: 24px;
	}

	h1 {
		font-size: 22px;
	}
}
